/** layout **/
.main-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.main-bg-blur {
    position: absolute;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
}
.main-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1592210454359-9043f067919b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80')
        no-repeat;
    background-size: cover;
    z-index: 1;
}
.main-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 10;
    color: var(--white-color);
}

/** header **/
header {
    padding: 30px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
#logo {
    display: inline-block;
    font-family: 'NIXGONM-Vb';
    font-weight: 400;
    font-size: 30px;
}
#setting {
    text-align: right;
}
#setting > .setting-icon {
    display: inline-block;
    color: var(--gray-color);
    width: 30px;
    cursor: pointer;
}
#setting > .setting-list-box {
    position: relative;
    right: 0;
    background: var(--white-color);
    text-align: left;
    margin: 15px 3px 0 0;
    display: none;
}
#setting > .setting-list-box.on {
    display: block;
}
#setting > .setting-list-box .arrow-up {
    position: absolute;
    right: 5px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid var(--white-color);
}
#setting .setting-list > li {
    padding: 12px 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--black-color);
    cursor: pointer;
}

/** section **/
section {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    flex-direction: column;
}

/** today-weather **/
.today-weather {
    display: inline-block;
    margin: 0 auto 60px auto;
}
.today-weather > .timezone {
    font-size: 40px;
    word-break: keep-all;
    word-wrap: normal;
    text-align: center;
}
.weather-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}
.weather-info > .weather-icon {
    fill: var(--white-color);
    width: 100px;
    height: 100px;
    margin-right: 40px;
}
.weather-info .temperature-box {
    font-size: 80px;
}
.detail-weather-info {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.detail-weather-info > li {
    display: inline-flex;
    align-items: center;
}
.detail-weather-info > li > svg {
    fill: var(--gray-color);
    width: 20px;
    height: 20px;
    margin-right: 13px;
}
.detail-weather-info > .low-high-tamp {
    margin: 0 23px;
}

/** week-weather **/
.week-weather {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.week-weather > li {
    border-right: 1px solid var(--gray-border-color);
    box-sizing: border-box;
    width: 16.66%;
    padding: 10px;
}
.week-weather > li:last-of-type {
    border-right: 0;
}
.week-weather > li > .day {
    font-size: 16px;
    color: var(--gray-color);
    font-weight: bold;
}
.week-weather > li > .day.saturday {
    color: var(--blue-color);
}
.week-weather > li > .day.sunday {
    color: var(--red-color);
}
.week-weather > li > .week-weather-icon {
    margin: 15px 0 10px 0;
    text-align: center;
}
.week-weather > li > .week-weather-icon > svg {
    width: 60px;
    height: 60px;
    fill: var(--white-color);
}
.week-weather > li > .week-temp {
    text-align: center;
    font-size: 30px;
    margin-left: 8px;
}

/** search-location **/
.search-location {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white-color);
    padding: 60px 50px;
    box-sizing: border-box;
    color: #000;
    width: 480px;
    display: none;
    z-index: 100;
    text-align: center;
}
.search-location.on {
    display: block;
}
.search-location h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 70px;
}
.search-location-input-box {
    position: relative;
    border-bottom: 1px solid var(--gray-border-color);
    text-align: left;
}
.search-location-input {
    width: 100%;
    border: 0;
    padding: 10px 40px 10px 0;
    box-sizing: border-box;
    outline: none;
    font-size: 17px;
}
.search-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    float: right;
    fill: var(--gray-border-color);
    cursor: pointer;
}
.location-list {
    position: relative;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid var(--gray-border-color);
}
.location-list-help {
    color: var(--gray-border-color);
    font-size: 17px;
    font-weight: 300;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
}
.location-list li:not(.location-list-help) {
    padding: 15px 0;
}
